ZOOMCAMP_PROJECT_2025/Kestra/gcp_econ_data.yaml
id: 06_gcp_econproject
namespace: zoomcampproject
description: |
  The CSV Data used in the course: 

inputs:
  - id: year
    type: SELECT
    displayName: Select year
    values: ["2018","2019", "2020","2021","2022"]
    defaults: "2022"
    allowCustomValue: true # allows you to type 2021 from the UI for the homework 🤗


variables:
  file: "econ_{{inputs.year}}.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.econwh_{{inputs.year}}"
  data: "{{outputs.extract.outputFiles['econ_' ~ inputs.year ~'.csv']}}"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://raw.githubusercontent.com/singh3ss/zoomcamp2025project_worldecon/refs/heads/main/econ2022.csv > {{render(vars.file)}}

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: if_yellow_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.year == '2022'}}"
    then:
      - id: bq_yellow_tripdata
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.allecondata`
          (
              unique_row_id BYTES OPTIONS (description = 'A unique identifier for the trip, generated by hashing key trip attributes.'),
              filename STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'),                    
              Year STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'),      
              ISO_Code_2 STRING OPTIONS (description = 'A code indicating the LPEP provider that provided the record. 1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.'),
              ISO_Code_3 STRING OPTIONS (description = 'A code indicating the LPEP provider that provided the record. 1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.'),              
              Countries STRING OPTIONS (description = 'A code indicating the LPEP provider that provided the record. 1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.'),              
              Economic_Freedom_Summary_Index STRING OPTIONS (description = 'The number of passengers in the vehicle. This is a driver-entered value.'),
              Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Quartile STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Government_consumption STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Transfers_and_subsidies STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Government_investment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Top_marginal_income_tax_rate STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Top_marginal_income_and_payroll_tax_rate STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Top_marginal_tax_rate STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              State_ownership_of_Assets STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Size_of_Government STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              area_1_rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Judicial_independence STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Impartial_courts STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Protection_of_property_rights STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Military_interference_in_rule_of_law_and_politics STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Integrity_of_the_legal_system STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Legal_enforcement_of_contracts STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Regulatory_restrictions_on_the_sale_of_real_property STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Reliability_of_police STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Gender_Legal_Rights_Adjustment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Legal_System_and_Property_Rights_Without_Gender_Adjustment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Legal_System_and_Property_Rights_With_Gender_Adjustment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Area_2_Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Money_growth STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Standard_deviation_of_inflation STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Inflation_Most_recent_year STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Freedom_to_own_foreign_currency_bank_accounts STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Sound_Money STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Area_3_Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Revenue_from_trade_taxes STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Mean_tariff_rate STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Standard_deviation_of_tariff_rates STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Tariffs STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Non_tariff_trade_barriers STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Compliance_costs_of_importing_and_exporting STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Regulatory_trade_barriers STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Black_market_exchange_rates STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Financial_openness STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Capital_controls STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Freedom_of_foreigners_to_visit STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Protection_of_foreign_assets STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Controls_of_the_movement_of_capital_and_people STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Freedom_to_trade_internationally STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Area_4_Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Ownership_of_banks STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Private_sector_credit STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Interest_rate_controls STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Credit_market_regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Hiring_regulations_and_minimum_wage STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Hiring_and_firing_regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Centralized_collective_bargaining STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Hours_Regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Mandated_cost_of_worker_dismissal STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Conscription STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Foreign_Labor STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Labor_market_regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Regulatory_Burden STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Bureacracy_costs STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Impartial_Public_Administration STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Tax_compliance STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Business_regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Market_openness STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Business_Permits STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Distorton_of_the_business_environment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Freedom_to_enter_markets_and_compete STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Regulation STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Area_5_Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              World_Bank_Region STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              World_Bank_Current_Income_Classification STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.')

          );

      - id: bq_yellow_table_ext
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`
          (
              Year STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'),      
              ISO_Code_2 STRING OPTIONS (description = 'A code indicating the LPEP provider that provided the record. 1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.'),
              ISO_Code_3 STRING OPTIONS (description = 'A code indicating the LPEP provider that provided the record. 1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.'),              
              Countries STRING OPTIONS (description = 'A code indicating the LPEP provider that provided the record. 1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.'),              
              Economic_Freedom_Summary_Index STRING OPTIONS (description = 'The number of passengers in the vehicle. This is a driver-entered value.'),
              Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Quartile STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Government_consumption STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Transfers_and_subsidies STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Government_investment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Top_marginal_income_tax_rate STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Top_marginal_income_and_payroll_tax_rate STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Top_marginal_tax_rate STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              State_ownership_of_Assets STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Size_of_Government STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              area_1_rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Judicial_independence STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Impartial_courts STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Protection_of_property_rights STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Military_interference_in_rule_of_law_and_politics STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Integrity_of_the_legal_system STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Legal_enforcement_of_contracts STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Regulatory_restrictions_on_the_sale_of_real_property STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Reliability_of_police STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Gender_Legal_Rights_Adjustment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Legal_System_and_Property_Rights_Without_Gender_Adjustment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Legal_System_and_Property_Rights_With_Gender_Adjustment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Area_2_Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Money_growth STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Standard_deviation_of_inflation STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Inflation_Most_recent_year STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Freedom_to_own_foreign_currency_bank_accounts STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Sound_Money STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Area_3_Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Revenue_from_trade_taxes STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Mean_tariff_rate STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Standard_deviation_of_tariff_rates STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Tariffs STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Non_tariff_trade_barriers STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Compliance_costs_of_importing_and_exporting STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Regulatory_trade_barriers STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Black_market_exchange_rates STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Financial_openness STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Capital_controls STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Freedom_of_foreigners_to_visit STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Protection_of_foreign_assets STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Controls_of_the_movement_of_capital_and_people STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Freedom_to_trade_internationally STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Area_4_Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Ownership_of_banks STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Private_sector_credit STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Interest_rate_controls STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Credit_market_regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Hiring_regulations_and_minimum_wage STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Hiring_and_firing_regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Centralized_collective_bargaining STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Hours_Regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Mandated_cost_of_worker_dismissal STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Conscription STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Foreign_Labor STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Labor_market_regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Regulatory_Burden STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Bureacracy_costs STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Impartial_Public_Administration STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Tax_compliance STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Business_regulations STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Market_openness STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Business_Permits STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Distorton_of_the_business_environment STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Freedom_to_enter_markets_and_compete STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Regulation STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              Area_5_Rank STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              World_Bank_Region STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.'),
              World_Bank_Current_Income_Classification STRING OPTIONS (description = 'The elapsed trip distance in miles reported by the taximeter.')
          )
          OPTIONS (
              format = 'CSV',
              uris = ['{{render(vars.gcs_file)}}'],
              skip_leading_rows = 1,
              ignore_unknown_values = TRUE
          );

      - id: bq_yellow_table_tmp
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}`
          AS
          SELECT
            MD5(CONCAT(
              COALESCE(CAST(Year AS STRING), ""),
              COALESCE(CAST(Countries AS STRING), "")
            )) AS unique_row_id,
            "{{render(vars.file)}}" AS filename,
            *
          FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;

      - id: bq_yellow_merge
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.econwh_2022` T
          USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}` S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (unique_row_id, filename, Year,	ISO_Code_2,	ISO_Code_3,	Countries,	 Economic_Freedom_Summary_Index,	Rank,	Quartile,	Government_consumption,	 	Transfers_and_subsidies,	
             	Government_investment,	 	Top_marginal_income_tax_rate,	 	Top_marginal_income_and_payroll_tax_rate,	 	Top_marginal_tax_rate,	State_ownership_of_Assets,	
            Size_of_Government,	Area_1_Rank, Judicial_independence,	Impartial_courts,	Protection_of_property_rights,	Military_interference_in_rule_of_law_and_politics,	
            Integrity_of_the_legal_system,	Legal_enforcement_of_contracts,	Regulatory_restrictions_on_the_sale_of_real_property,	Reliability_of_police,	Gender_Legal_Rights_Adjustment,	
            Legal_System_and_Property_Rights_Without_Gender_Adjustment,	Legal_System_and_Property_Rights_With_Gender_Adjustment,	Area_2_Rank,	Money_growth,	 	Standard_deviation_of_inflation,	
             	Inflation_Most_recent_year,	 	Freedom_to_own_foreign_currency_bank_accounts,	Sound_Money,	Area_3_Rank,	Revenue_from_trade_taxes,	 	Mean_tariff_rate,	 	
            Standard_deviation_of_tariff_rates,	 	Tariffs,	Non_tariff_trade_barriers,	Compliance_costs_of_importing_and_exporting,	Regulatory_trade_barriers,	Black_market_exchange_rates,	Financial_openness,	Capital_controls,	Freedom_of_foreigners_to_visit,	Protection_of_foreign_assets,	Controls_of_the_movement_of_capital_and_people,	Freedom_to_trade_internationally,	Area_4_Rank,	Ownership_of_banks,	Private_sector_credit,	Interest_rate_controls,	Credit_market_regulations,	Hiring_regulations_and_minimum_wage,	Hiring_and_firing_regulations,	Centralized_collective_bargaining,	Hours_Regulations,	Mandated_cost_of_worker_dismissal,	Conscription,	Foreign_Labor,	Labor_market_regulations,	Regulatory_Burden,	Bureacracy_costs,	Impartial_Public_Administration,	Tax_compliance,	Business_regulations,	Market_openness,	Business_Permits,	Distorton_of_the_business_environment,	Freedom_to_enter_markets_and_compete,	Regulation,	Area_5_Rank,	World_Bank_Region,	World_Bank_Current_Income_Classification)            
            VALUES (S.unique_row_id, S.filename, S.Year,	S.ISO_Code_2,	S.ISO_Code_3,	S.Countries,	S.Economic_Freedom_Summary_Index,	S.Rank,	S.Quartile,	S.Government_consumption,	 	
            S.Transfers_and_subsidies,	 	S.Government_investment,	 	S.Top_marginal_income_tax_rate,	 	S.Top_marginal_income_and_payroll_tax_rate,	 	
            S.Top_marginal_tax_rate,	S.State_ownership_of_Assets,	S.Size_of_Government,	S.Area_1_Rank,	S.Judicial_independence,	S.Impartial_courts,	S.Protection_of_property_rights,	
            S.Military_interference_in_rule_of_law_and_politics,	S.Integrity_of_the_legal_system,	S.Legal_enforcement_of_contracts,	S.Regulatory_restrictions_on_the_sale_of_real_property,	
            S.Reliability_of_police,	S.Gender_Legal_Rights_Adjustment,	S.Legal_System_and_Property_Rights_Without_Gender_Adjustment,	S.Legal_System_and_Property_Rights_With_Gender_Adjustment,	
            S.Area_2_Rank,	S.Money_growth,	 	S.Standard_deviation_of_inflation,	 	S.Inflation_Most_recent_year,	 	S.Freedom_to_own_foreign_currency_bank_accounts,	
            S.Sound_Money,	S.Area_3_Rank,	S.Revenue_from_trade_taxes,	 	S.Mean_tariff_rate,	 	S.Standard_deviation_of_tariff_rates,	 	S.Tariffs,	
            S.Non_tariff_trade_barriers,	S.Compliance_costs_of_importing_and_exporting,	S.Regulatory_trade_barriers,	S.Black_market_exchange_rates,	S.Financial_openness,	
            S.Capital_controls,	S.Freedom_of_foreigners_to_visit,	S.Protection_of_foreign_assets,	S.Controls_of_the_movement_of_capital_and_people,	S.Freedom_to_trade_internationally,	
            S.Area_4_Rank,	S.Ownership_of_banks,	S.Private_sector_credit,	S.Interest_rate_controls,	S.Credit_market_regulations,	S.Hiring_regulations_and_minimum_wage,	
            S.Hiring_and_firing_regulations,	S.Centralized_collective_bargaining,	S.Hours_Regulations,	S.Mandated_cost_of_worker_dismissal,	S.Conscription,	S.Foreign_Labor,	
            S.Labor_market_regulations,	S.Regulatory_Burden,	S.Bureacracy_costs,	S.Impartial_Public_Administration,	S.Tax_compliance,	S.Business_regulations,	S.Market_openness,	
            S.Business_Permits,	S.Distorton_of_the_business_environment,	S.Freedom_to_enter_markets_and_compete,	S.Regulation,	S.Area_5_Rank,	S.World_Bank_Region,	
            S.World_Bank_Current_Income_Classification);

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
